---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/account.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717430052'
      Etag:
      - W/"77f41f010c755ea1406b539b804f22e2"
    body:
      encoding: UTF-8
      string: '{"id":448688,"company_name":null,"currency_id":77,"billing_phone_number":null,"yearly_seats_paid_for":0,"sales_team_size":"1-3","milestone_event_category_id":null,"technical_contact_email":null,"activities_follow_hierarchy_on_company_profile_pages":false,"show_deal_loss_reason_dialog":true,"address_autocompleter":false,"use_case":null,"deal_loss_reason_required":false,"deal_won_reason_required":false,"show_deal_won_reason_dialog":false,"show_deal_won_reason_deal_profile":true,"show_deal_loss_reason_deal_profile":true,"account_exports":[],"deal_stages":[{"id":1,"percent":100,"name":"Won","account_id":448688,"created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","deal_pipeline_id":1},{"id":2,"percent":0,"name":"Lost","account_id":448688,"created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","deal_pipeline_id":1}],"deal_loss_reasons":[],"deal_won_reasons":[],"currency_symbol":"$","deal_pipelines":[{"id":1,"account_id":448688,"name":"Sales","default":true,"created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","pipeline_type":"new_revenue","description":null}],"note_categories":[],"event_categories":[{"id":2107082,"name":"todo","account_id":448688,"is_system_category":false,"position":1,"created_at":"2024/01/12
        13:12:32 -0500","updated_at":"2024/01/12 13:12:32 -0500"}],"visibility_settings":"private_people_shared_companies","note_categories_with_system_categories":[{"id":2292797,"name":"Deal","account_id":null,"position":1,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":false},{"id":2292798,"name":"CalendarEvent","account_id":null,"position":2,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":false},{"id":2292799,"name":"CalendarTask","account_id":null,"position":3,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":false},{"id":2292800,"name":"Email","account_id":null,"position":4,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":true},{"id":2292801,"name":"Trackable
        Email Action","account_id":null,"position":5,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":true},{"id":2292802,"name":"Customer","account_id":null,"position":6,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":false},{"id":2292803,"name":"Company","account_id":null,"position":7,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":false},{"id":2292804,"name":"Person","account_id":null,"position":8,"system_category":true,"created_at":"2023/12/04
        11:41:25 -0500","updated_at":"2023/12/04 11:41:25 -0500","editable":false}],"selected_currencies":[{"id":77,"name":"United
        States Dollar","code":"USD","symbol":"$","decimal_places":2,"position":1}],"is_batchbook?":false,"billed_by_appdirect?":false,"date_format":"us","time_format":"us","email_settings":{"automatic_note_creation":true,"automatic_attachment_creation":true},"predefined_contacts_tags":[{"id":2,"name":"asdf"},{"id":1,"name":"TEST
        TAG"}],"document_tags":[],"company_tags":[],"deal_tags":[],"lead_sources":[{"id":1,"name":"source","people_count":null,"cost_per_lead_in_cents":null,"flat_fee_in_cents":null,"is_system_lead_source":false}],"lead_statuses":[{"id":1,"hex_color":"fff","name":"status","position":1}],"product_lines":[],"teams":[{"id":1392359,"name":"Sales
        team","parent_id":null}],"calendar_entry_priorities":[],"currencies":[{"id":77,"name":"United
        States Dollar"}],"users":[{"account_id":448688,"commission_rate":0.0,"date_format":"us","email":"viola.champlin@mayer.info","other_emails":[],"first_name":"Jaclyn","last_name":"Senger","full_name":"Jaclyn
        Senger","is_account_admin":true,"is_allowed_to_delete":true,"is_allowed_to_export":true,"is_allowed_to_merge_records":true,"level":3,"manager_id":null,"time_format":"US","time_zone":"America/New_York","id":684638,"name":"sevgibson","deleted_at":null,"read_only":false,"team_id":null,"email_sync_enabled":true}],"inactive_users":[],"deal_custom_field_labels":[{"id":12,"name":"dropdown
        field","field_type":"dropdown","report_behavior":null,"is_required":null,"position":1,"type":"DealCustomFieldLabel","created_at":"2024/06/03
        10:57:47 -0400","updated_at":"2024/06/03 10:57:47 -0400","custom_field_group_id":null,"output_type":"dropdown","custom_field_label_dropdown_entries":[],"locked":false,"custom_field_permissions":[]},{"id":13,"name":"test
        dropdown field","field_type":"dropdown","report_behavior":null,"is_required":null,"position":2,"type":"DealCustomFieldLabel","created_at":"2024/06/03
        11:22:17 -0400","updated_at":"2024/06/03 11:31:13 -0400","custom_field_group_id":null,"output_type":"dropdown","custom_field_label_dropdown_entries":[],"locked":false,"custom_field_permissions":[]}],"person_custom_field_labels":[{"id":1,"name":"string
        field","field_type":"text","report_behavior":null,"is_required":null,"position":1,"type":"PersonCustomFieldLabel","created_at":"2024/05/01
        16:20:50 -0400","updated_at":"2024/05/01 16:21:24 -0400","custom_field_group_id":null,"output_type":"text","locked":false,"custom_field_permissions":[{"id":1,"account_id":448688,"team_id":null,"custom_field_label_id":1,"read":true,"edit":true,"add":true,"created_at":"2024/05/01
        16:20:50 -0400","updated_at":"2024/05/01 16:20:50 -0400"}]},{"id":2,"name":"boolean
        field","field_type":"boolean","report_behavior":null,"is_required":null,"position":2,"type":"PersonCustomFieldLabel","created_at":"2024/05/01
        16:21:02 -0400","updated_at":"2024/05/01 16:21:02 -0400","custom_field_group_id":null,"output_type":"boolean","locked":false,"custom_field_permissions":[{"id":2,"account_id":448688,"team_id":null,"custom_field_label_id":[...]
