---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/auth.json?app_key=010a14be40ff5deafb7de7e773b8bff0
    body:
      encoding: UTF-8
      string: '{"email_or_username":"x@gmail.com","password":"xabc123$$$$","mfa_code":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"humanized_field":"Base","field":"base","msg":"Email or username/Password
        combination is not valid"}]'
  recorded_at: Sun, 21 May 2023 01:16:55 GMT
recorded_with: VCR 6.1.0
