---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/auth.json?app_key=8ddaff5a21fd18070be60623e5074781
    body:
      encoding: UTF-8
      string: '{"email_or_username":"x@gmail.com","password":"abc123$$$$","mfa_code":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a157bc7970d5c70e1c21924bb5578cc"
    body:
      encoding: UTF-8
      string: '{"user":{"id":451,"account_id":65,"date_format":"us","email":"x@gmail.com","first_name":"x","last_name":"y","level":1,"read_only":false,"time_format":"US","time_zone":"America/New_York","currency_symbol":"$","features":{"hide_roi_report":true,"update_on_import":false,"import_leads":false,"activity_visibility_setting":false,"expected_close_tasks":false,"dashboard":true,"read_only_email":false,"list_view_url_builder":false,"ignored_email_list_view":false,"connect_custom_field_merge_tags":true,"show_audits_api_docs":false,"customer_management":true,"multi_currency":true,"allow_zip_export":false,"disable_stalled_deals":false,"address_geocoding":false,"external_users":true,"time_to_dollar":false,"time_to_dollar_2":false,"product_lines":true,"deal_won_reasons":false,"private_notes":true,"historical_view":true,"bcc_checks_deal_status":false,"data_exports":false,"scoreboard_deal_stages":false,"ms_graph_email_automation":false,"sales_scorecard_report_search":false,"uservoice_feedback":true,"allow_unregistered_app":true,"insta_demo":false,"search_formatting":true,"tracked_email_during_trial":false,"account_security":false,"tracked_email_dot_com":false,"static_list_views":false,"duplicate_checker":true,"disable_company_merge":false,"profile_push":false,"advanced_custom_fields_permissions":true,"enhanced_reporting":false,"reload_mantle_message":false,"customizable_dashboards":true,"customizable_dashboards_multiple":true,"customizable_dashboards_list_view":true,"customizable_dashboards_goal":true,"customizable_dashboards_report":true,"enhanced_activity_filtering":false,"drip_campaigns":true,"integrations_engine":true,"vipecloud":true,"unlimited_custom_fields":true,"automations":true,"deal_intelligence":true,"connect":true,"email_templates":true,"email_campaigns":true},"deal_profile_order":{"left":["deal-details","add-notes","activity-feed","custom-fields","files"],"right":["people","agenda"]},"person_profile_order":{"main":[{"name":"summary","status":"open"},{"name":"deals","status":"open"},{"name":"activities","status":"open"},{"name":"custom-fields","status":"open"},{"name":"mailchimp","status":"open"},{"name":"documents","status":"open"}],"side":[{"name":"contact-info","status":"open"},{"name":"tasks-and-events","status":"open"}]},"company_profile_order":{"main":[{"name":"summary","status":"open"},{"name":"deals","status":"open"},{"name":"activities","status":"open"},{"name":"custom-fields","status":"open"},{"name":"people","status":"open"},{"name":"documents","status":"open"}],"side":[{"name":"company-details","status":"open"},{"name":"tasks-and-events","status":"open"}]},"customer_profile_order":{"left":["company-details","people","activity-feed","deals","custom-fields","files"],"right":["contact-info","milestones","agenda"]},"api_key":"OpSyY94xKOGaJS7XMqSI","new_person_profile_order":{"left":["person-details","deals","activity-feed","custom-fields","files","mailchimp","email-sequences"],"right":["contact-info","agenda"]},"new_company_profile_order":{"left":["company-details","deals","activity-feed","custom-fields","people","files"],"right":["contact-info","agenda"]}}}'
  recorded_at: Sun, 21 May 2023 01:16:56 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/users/451.json?api_key=OpSyY94xKOGaJS7XMqSI&app_key=8ddaff5a21fd18070be60623e5074781
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1684631817'
      Etag:
      - W/"536bbe0c5bb2c07e88b9267d768e4c83"
    body:
      encoding: UTF-8
      string: '{"id":451,"account_id":65,"level":1,"first_name":"x","last_name":"y","name":null,"time_zone":"America/New_York","is_backend_admin":null,"mobile_number":null,"receives_sms_reminders":null,"last_seen_at":"2023/05/20
        21:15:26 -0400","commission_rate":0.0,"is_account_admin":false,"date_format":"us","time_format":"US","w2lid":"32b339f2b8d3","is_allowed_to_export":true,"use_keyboard_shortcuts":false,"deleted_at":null,"is_allowed_to_delete":true,"csv_column_separator":",","csv_decimal_mark":".","data_reassigned_at":null,"is_allowed_to_send_campaigns":true,"read_only":false,"team_id":2,"is_allowed_to_merge_records":true,"pipeline_email_client":true,"email":"x@gmail.com","avatar_thumb_url":null,"api_key":"OpSyY94xKOGaJS7XMqSI","mfa_enabled":false,"mfa_requested_at":null,"connect_synced?":false,"other_emails":[],"is_google_apps_enabled":false,"currency":{"id":1,"name":"United
        States Dollar","code":"USD","symbol":"$","decimal_places":2},"full_name":"x
        y","is_imr":false,"can_change_company_owner":false,"manager_id":null,"visible_teams":[{"id":2,"name":"Sales
        team"}],"default_dashboard_id":null,"permanently_remove_SGv2":null,"visited_features":[],"SGv2_open_sections":{},"features":{"hide_roi_report":true,"update_on_import":false,"import_leads":false,"activity_visibility_setting":false,"expected_close_tasks":false,"dashboard":true,"read_only_email":false,"list_view_url_builder":false,"ignored_email_list_view":false,"connect_custom_field_merge_tags":true,"show_audits_api_docs":false,"customer_management":true,"multi_currency":true,"allow_zip_export":false,"disable_stalled_deals":false,"address_geocoding":false,"external_users":true,"time_to_dollar":false,"time[...]
