---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/auth.json?app_key=8ddaff5a21fd18070be60623e5074781
    body:
      encoding: UTF-8
      string: '{"email_or_username":"y@gmail.com","password":"xyz987$$$$","mfa_code":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29f9b6ea3478d40dab5d5fd0ff82ce5e"
    body:
      encoding: UTF-8
      string: '{"user":{"id":452,"account_id":65,"date_format":"us","email":"y@gmail.com","first_name":"Y","last_name":"Test","level":3,"read_only":false,"time_format":"us","time_zone":"America/New_York","currency_symbol":"$","features":{"hide_roi_report":true,"update_on_import":false,"import_leads":false,"activity_visibility_setting":false,"expected_close_tasks":false,"dashboard":true,"read_only_email":false,"list_view_url_builder":false,"ignored_email_list_view":false,"connect_custom_field_merge_tags":true,"show_audits_api_docs":false,"customer_management":true,"multi_currency":true,"allow_zip_export":false,"disable_stalled_deals":false,"address_geocoding":false,"external_users":true,"time_to_dollar":false,"time_to_dollar_2":false,"product_lines":true,"deal_won_reasons":false,"private_notes":true,"historical_view":true,"bcc_checks_deal_status":false,"data_exports":false,"scoreboard_deal_stages":false,"ms_graph_email_automation":false,"sales_scorecard_report_search":false,"uservoice_feedback":true,"allow_unregistered_app":true,"insta_demo":false,"search_formatting":true,"tracked_email_during_trial":false,"account_security":false,"tracked_email_dot_com":false,"static_list_views":false,"duplicate_checker":true,"disable_company_merge":false,"profile_push":false,"advanced_custom_fields_permissions":true,"enhanced_reporting":false,"reload_mantle_message":false,"customizable_dashboards":true,"customizable_dashboards_multiple":true,"customizable_dashboards_list_view":true,"customizable_dashboards_goal":true,"customizable_dashboards_report":true,"enhanced_activity_filtering":false,"drip_campaigns":true,"integrations_engine":true,"vipecloud":true,"unlimited_custom_fields":true,"automations":true,"deal_intelligence":true,"connect":true,"email_templates":true,"email_campaigns":true},"deal_profile_order":{"left":["deal-details","add-notes","activity-feed","custom-fields","files"],"right":["people","agenda"]},"person_profile_order":{"main":[{"name":"summary","status":"open"},{"name":"deals","status":"open"},{"name":"activities","status":"open"},{"name":"custom-fields","status":"open"},{"name":"mailchimp","status":"open"},{"name":"documents","status":"open"}],"side":[{"name":"contact-info","status":"open"},{"name":"tasks-and-events","status":"open"}]},"company_profile_order":{"main":[{"name":"summary","status":"open"},{"name":"deals","status":"open"},{"name":"activities","status":"open"},{"name":"custom-fields","status":"open"},{"name":"people","status":"open"},{"name":"documents","status":"open"}],"side":[{"name":"company-details","status":"open"},{"name":"tasks-and-events","status":"open"}]},"customer_profile_order":{"left":["company-details","people","activity-feed","deals","custom-fields","files"],"right":["contact-info","milestones","agenda"]},"api_key":"ISF9pLo2dh3A45QmXtib","new_person_profile_order":{"left":["person-details","deals","activity-feed","custom-fields","files","mailchimp","email-sequences"],"right":["contact-info","agenda"]},"new_company_profile_order":{"left":["company-details","deals","activity-feed","custom-fields","people","files"],"right":["contact-info","agenda"]}}}'
  recorded_at: Thu, 25 May 2023 16:55:26 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/users/452.json?api_key=ISF9pLo2dh3A45QmXtib&app_key=8ddaff5a21fd18070be60623e5074781
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1685033727'
      Etag:
      - W/"4d8be141160b3881c35d47dcfd625a8f"
    body:
      encoding: UTF-8
      string: '{"id":452,"account_id":65,"level":3,"first_name":"Y","last_name":"Test","name":null,"time_zone":"America/New_York","is_backend_admin":null,"mobile_number":null,"receives_sms_reminders":null,"last_seen_at":"2023/05/25
        12:55:25 -0400","commission_rate":0.0,"is_account_admin":true,"date_format":"us","time_format":"us","w2lid":"fa6dec67f4f0","is_allowed_to_export":true,"use_keyboard_shortcuts":false,"deleted_at":null,"is_allowed_to_delete":true,"csv_column_separator":",","csv_decimal_mark":".","data_reassigned_at":null,"is_allowed_to_send_campaigns":true,"read_only":false,"team_id":null,"is_allowed_to_merge_records":true,"pipeline_email_client":true,"email":"y@gmail.com","avatar_thumb_url":null,"api_key":"ISF9pLo2dh3A45QmXtib","mfa_enabled":false,"mfa_requested_at":null,"connect_synced?":false,"other_emails":[],"is_google_apps_enabled":false,"currency":{"id":1,"name":"United
        States Dollar","code":"USD","symbol":"$","decimal_places":2},"full_name":"Y
        Test","is_imr":false,"can_change_company_owner":true,"manager_id":null,"visible_teams":[{"id":2,"name":"Sales
        team"}],"default_dashboard_id":null,"permanently_remove_SGv2":null,"visited_features":[],"SGv2_open_sections":{},"features":{"hide_roi_report":true,"update_on_import":false,"import_leads":false,"activity_visibility_setting":false,"expected_close_tasks":false,"dashboard":true,"read_only_email":false,"list_view_url_builder":false,"ignored_email_list_view":false,"connect_custom_field_merge_tags":true,"show_audits_api_docs":false,"customer_management":true,"multi_currency":true,"allow_zip_export":false,"disable_stalled_deals":false,"address_geocoding":false,"external_users":true,"time_to_dollar":false,"time[...]
- request:
    method: get
    uri: http://pld.com/api/v3/people.json?api_key=ISF9pLo2dh3A45QmXtib&app_key=8ddaff5a21fd18070be60623e5074781&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1685033727'
      Etag:
      - W/"c0846e57856444e04058ab4d0f469a5b"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":5932,"first_name":"Wilma","last_name":null,"position":null,"phone":null,"email":null,"home_address_1":null,"home_address_2":null,"home_city":null,"home_state":null,"home_postal_code":null,"home_country":null,"home_email":null,"home_phone":null,"work_address_1":null,"work_address_2":null,"work_city":null,"work_state":null,"work_postal_code":null,"work_country":null,"user_id":377,"viewed_at":null,"created_at":"2023/05/24
        14:11:14 -0400","updated_at":"2023/05/24 14:11:14 -0400","mobile":null,"company_id":null,"fax":null,"website":null,"email2":null,"instant_message":null,"twitter":null,"linked_in_url":null,"facebook_url":null,"type":"Contact","next_entry_name":null,"next_entry_due":null,"next_entry_all_day":null,"next_entry_id":null,"summary":null,"unsubscribed":false,"bounced":false,"last_emailed_at":null,"relationship":null,"is_key_contact":null,"is_sample":false,"created_by_user_id":377,"company_name":null,"full_name":"Wilma","deal_ids":[],"image_thumb_url":"//localhost:3808/webpack/images/thumb/missing.png","image_mobile_url":"//localhost:3808/webpack/images/mobile/missing.png","work_address_google_maps_url":"http://maps.google.com/maps?q=%2C+%2C+%2C+++","home_address_google_maps_url":"http://maps.google.com/maps?q=%2C+%2C+%2C+++","company_address_google_maps_url":null,"has_work_address":false,"has_company_address":false,"shared_user_ids":[],"date_of_first_activity":null,"days_since_last_activity":null,"hours_to_first_activity":null,"deals":[],"user":{"id":377,"first_name":"Scott","last_name":"Gibson"},"created_by_user":{"id":377,"first_name":"Scott","last_name":"Gibson"},"lead_status":null,"lead_source":null,"predefined_contacts_tag_ids":[],"predefined_contacts_tags":[],"custom_fields":{},"total_pipeline":0,"won_deals_total":0},{"id":5931,"first_name":"Fred","last_name":null,"position":null,"phone":null,"email":null,"home_address_1":null,"home_address_2":null,"home_city":null,"home_state":null,"home_postal_code":null,"home_country":null,"home_email":null,"home_phone":null,"work_address_1":null,"work_address_2":null,"work_city":null,"work_state":null,"work_postal_code":null,"work_country":null,"user_id":377,"viewed_at":null,"created_at":"2023/05/24
        14:09:54 -0400","updated_at":"2023/05/24 14:09:54 -0400","mob[...]
