---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/company_custom_field_labels.json
    body:
      encoding: UTF-8
      string: '{"company_custom_field_label":{"name":"test company custom field label","field_type":"text"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717426251'
      Etag:
      - W/"78462b0c36dc5a6381214961467274be"
    body:
      encoding: UTF-8
      string: '{"id":10,"name":"test company custom field label","field_type":"text","report_behavior":null,"is_required":null,"position":1,"type":"CompanyCustomFieldLabel","created_at":"2024/06/03
        10:50:50 -0400","updated_at":"2024/06/03 10:50:50 -0400","custom_field_group_id":null,"output_type":"text","locked":false,"custom_field_permissions":[]}'
  recorded_at: Mon, 03 Jun 2024 14:50:50 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/company_custom_field_labels/10.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717426251'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 14:50:50 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/company_custom_field_labels.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717426252'
      Etag:
      - W/"45ea7c2bbd1a94d22ac27a0198377553"
    body:
      encoding: UTF-8
      string: '{"entries":[],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":0}}'
  recorded_at: Mon, 03 Jun 2024 14:50:51 GMT
recorded_with: VCR 6.1.0
