---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/custom_field_label_dropdown_entries.json
    body:
      encoding: UTF-8
      string: '{"custom_field_label_dropdown_entry":{"name":"test custom field dropdown
        entry","custom_field_label_id":13}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428674'
      Etag:
      - W/"f85dc94b4b37bd1d743d3fbf4d7a4298"
    body:
      encoding: UTF-8
      string: '{"id":9,"custom_field_label_id":13,"name":"test custom field dropdown
        entry","position":1,"created_at":"2024/06/03 11:31:13 -0400","updated_at":"2024/06/03
        11:31:13 -0400"}'
  recorded_at: Mon, 03 Jun 2024 15:31:13 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/custom_field_label_dropdown_entries/9.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428674'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 15:31:13 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/custom_field_label_dropdown_entries.json?conditions%5Bcustom_field_label_id%5D=13&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428674'
      Etag:
      - W/"45ea7c2bbd1a94d22ac27a0198377553"
    body:
      encoding: UTF-8
      string: '{"entries":[],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":0}}'
  recorded_at: Mon, 03 Jun 2024 15:31:13 GMT
recorded_with: VCR 6.1.0
