---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/deal_stages.json
    body:
      encoding: UTF-8
      string: '{"deal_stage":{"name":"test deal stage","percent":23,"deal_pipeline_id":1}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717430052'
      Etag:
      - W/"af66fcac3367fb26ee6d4a54b4399be1"
    body:
      encoding: UTF-8
      string: '{"id":3,"percent":23,"name":"test deal stage","created_at":"2024/06/03
        11:54:11 -0400","updated_at":"2024/06/03 11:54:11 -0400","deal_pipeline_id":1}'
  recorded_at: Mon, 03 Jun 2024 15:54:11 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/deal_stages/3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717430052'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 15:54:11 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/deal_stages.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717430052'
      Etag:
      - W/"6888b795fe90b5c3112a899e30b58d6b"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1,"percent":100,"name":"Won","created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","deal_pipeline_id":1},{"id":2,"percent":0,"name":"Lost","created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","deal_pipeline_id":1}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":2}}'
  recorded_at: Mon, 03 Jun 2024 15:54:11 GMT
recorded_with: VCR 6.1.0
