---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/admin/deal_stages.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717430052'
      Etag:
      - W/"6888b795fe90b5c3112a899e30b58d6b"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1,"percent":100,"name":"Won","created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","deal_pipeline_id":1},{"id":2,"percent":0,"name":"Lost","created_at":"2024/06/03
        11:52:08 -0400","updated_at":"2024/06/03 11:52:08 -0400","deal_pipeline_id":1}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":2}}'
  recorded_at: Mon, 03 Jun 2024 15:54:11 GMT
recorded_with: VCR 6.1.0
