---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/deal_custom_field_labels.json
    body:
      encoding: UTF-8
      string: '{"deal_custom_field_label":{"name":"test deal custom field label for
        deletion","field_type":"text"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428487'
      Etag:
      - W/"d837f0a26239318761222b6edc27dbe6"
    body:
      encoding: UTF-8
      string: '{"id":15,"name":"test deal custom field label for deletion","field_type":"text","report_behavior":null,"is_required":null,"position":3,"type":"DealCustomFieldLabel","created_at":"2024/06/03
        11:28:06 -0400","updated_at":"2024/06/03 11:28:06 -0400","custom_field_group_id":null,"output_type":"text","locked":false,"custom_field_permissions":[]}'
  recorded_at: Mon, 03 Jun 2024 15:28:06 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/deal_custom_field_labels/15.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428487'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 15:28:06 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/deal_custom_field_labels.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428487'
      Etag:
      - W/"f05aad583fe438764632ae3537690214"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":12,"name":"dropdown field","field_type":"dropdown","report_behavior":null,"is_required":null,"position":1,"type":"DealCustomFieldLabel","created_at":"2024/06/03
        10:57:47 -0400","updated_at":"2024/06/03 10:57:47 -0400","custom_field_group_id":null,"output_type":"dropdown","custom_field_label_dropdown_entries":[],"locked":false,"custom_field_permissions":[]},{"id":13,"name":"test
        dropdown field","field_type":"dropdown","report_behavior":null,"is_required":null,"position":2,"type":"DealCustomFieldLabel","created_at":"2024/06/03
        11:22:17 -0400","updated_at":"2024/06/03 11:22:17 -0400","custom_field_group_id":null,"output_type":"dropdown","custom_field_label_dropdown_entries":[],"locked":false,"custom_field_permissions":[]}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":2}}'
  recorded_at: Mon, 03 Jun 2024 15:28:06 GMT
recorded_with: VCR 6.1.0
