---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/deal_custom_field_groups.json
    body:
      encoding: UTF-8
      string: '{"deal_custom_field_group":{"name":"test deal custom field group"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428303'
      Etag:
      - W/"d853f528ada0adbb7e52a5d3c391b191"
    body:
      encoding: UTF-8
      string: '{"id":5,"type":"DealCustomFieldGroup","name":"test deal custom field
        group","created_at":"2024/06/03 11:25:02 -0400","updated_at":"2024/06/03 11:25:02
        -0400","custom_field_group_permissions":[]}'
  recorded_at: Mon, 03 Jun 2024 15:25:02 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/deal_custom_field_groups/5.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428303'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 15:25:02 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/deal_custom_field_groups.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428303'
      Etag:
      - W/"45ea7c2bbd1a94d22ac27a0198377553"
    body:
      encoding: UTF-8
      string: '{"entries":[],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":0}}'
  recorded_at: Mon, 03 Jun 2024 15:25:02 GMT
recorded_with: VCR 6.1.0
