---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/deal_custom_field_labels.json
    body:
      encoding: UTF-8
      string: '{"deal_custom_field_label":{"name":"test dropdown field","field_type":"dropdown"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717428138'
      Etag:
      - W/"6906f90e624d42741a7053a9e4fc3ac4"
    body:
      encoding: UTF-8
      string: '{"id":13,"name":"test dropdown field","field_type":"dropdown","report_behavior":null,"is_required":null,"position":2,"type":"DealCustomFieldLabel","created_at":"2024/06/03
        11:22:17 -0400","updated_at":"2024/06/03 11:22:17 -0400","custom_field_group_id":null,"output_type":"dropdown","custom_field_label_dropdown_entries":[],"locked":false,"custom_field_permissions":[]}'
  recorded_at: Mon, 03 Jun 2024 15:22:17 GMT
recorded_with: VCR 6.1.0
