---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/event_categories.json
    body:
      encoding: UTF-8
      string: '{"event_category":{"name":"test person tag for deletion"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433137'
      Etag:
      - W/"e1149a4a267f7b1f6dc273e3aca24605"
    body:
      encoding: UTF-8
      string: '{"id":2107084,"name":"test person tag for deletion","position":2,"created_at":"2024/06/03
        12:45:36 -0400","updated_at":"2024/06/03 12:45:36 -0400"}'
  recorded_at: Mon, 03 Jun 2024 16:45:36 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/event_categories/2107084.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433137'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 16:45:36 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/event_categories.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433137'
      Etag:
      - W/"0ea68889fd3abb47a5ceb629da01db5c"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":2107082,"name":"todo","position":1,"created_at":"2024/01/12
        13:12:32 -0500","updated_at":"2024/01/12 13:12:32 -0500"}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":1}}'
  recorded_at: Mon, 03 Jun 2024 16:45:36 GMT
recorded_with: VCR 6.1.0
