---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/admin/features/sms_support.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1OTBmZjZkMjYwMmJiZTZhMWM2Y2MxZDY1ZDAxNjBkYyIsImp0aSI6ImQyYjM4OWYwLWNhYWYtMDEzYy1jNTU0LTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0MjY3MTUxMH0.NgNTIAf216IIKItSJmVqRkAgiYD1JRuQfrEkX9alPeU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1712161233'
      Etag:
      - W/"1fb5f5816b1827884b3d8d1bbe4f9514"
    body:
      encoding: UTF-8
      string: '{"id":"sms_support","providers":null}'
  recorded_at: Wed, 03 Apr 2024 16:20:32 GMT
- request:
    method: put
    uri: http://pld.com/api/v3/admin/features/sms_support
    body:
      encoding: UTF-8
      string: '{"provided_by":"JustCall","data":{"this":"that"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1OTBmZjZkMjYwMmJiZTZhMWM2Y2MxZDY1ZDAxNjBkYyIsImp0aSI6ImQyYjM4OWYwLWNhYWYtMDEzYy1jNTU0LTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0MjY3MTUxMH0.NgNTIAf216IIKItSJmVqRkAgiYD1JRuQfrEkX9alPeU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1712161233'
      Etag:
      - W/"1d2f7d6cab65576ffeb07a4ca5b293ec"
    body:
      encoding: UTF-8
      string: '{"id":"sms_support","providers":[{"id":26,"enabled_feature_id":2860420,"provided_by":"JustCall","data":{"this":"that"},"created_at":"2024/04/03
        12:20:32 -0400","updated_at":"2024/04/03 12:20:32 -0400"}]}'
  recorded_at: Wed, 03 Apr 2024 16:20:32 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/features/sms_support?provided_by=JustCall
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1OTBmZjZkMjYwMmJiZTZhMWM2Y2MxZDY1ZDAxNjBkYyIsImp0aSI6ImQyYjM4OWYwLWNhYWYtMDEzYy1jNTU0LTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0MjY3MTUxMH0.NgNTIAf216IIKItSJmVqRkAgiYD1JRuQfrEkX9alPeU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1712161280'
      Etag:
      - W/"1fb5f5816b1827884b3d8d1bbe4f9514"
    body:
      encoding: UTF-8
      string: '{"id":"sms_support","providers":null}'
  recorded_at: Wed, 03 Apr 2024 16:21:19 GMT
recorded_with: VCR 6.1.0
