---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/account_notifications.json?account_id=65&api_key=OarV2UVz6e_VKBhWG9AL&app_key=be475137b519a79c903492e2693dc9b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1683646200'
      Etag:
      - W/"c77e1945cff3e66f202d93b4c6744010"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":5,"account_id":null,"user_id":377,"text":"Interested
        in customizing PipelineDeals?\u003cbr/\u003e\u003ca href=\"/admin\" onclick=\"trackableEvent.clickAcctSettingsNotification()\"\u003eClick
        here\u003c/a\u003e to see your options.","read_at":null,"created_at":"2021/01/21
        11:08:34 -0500","updated_at":"2021/01/21 11:08:34 -0500","seen":true},{"id":6,"account_id":null,"user_id":377,"text":"Please
        \u003ca href=''/accounts/resend_verification_email'' data-toggle=''modal''data-target=''#resend-verification-email''
        data-remote=''/accounts/resend_verification_email''\u003evalidate your email
        address\u003c/a\u003e","read_at":null,"created_at":"2021/01/21 11:08:34 -0500","updated_at":"2021/01/21
        11:08:34 -0500","seen":true},{"id":145,"account_id":null,"user_id":377,"text":"test","read_at":null,"created_[...]
- request:
    method: get
    uri: http://localhost:3000/api/v3/account_notifications.json?account_id=65&api_key=OarV2UVz6e_VKBhWG9AL&app_key=be475137b519a79c903492e2693dc9b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1683647658'
      Content-Type:
      - application/json; charset=utf-8
   [...]
- request:
    method: get
    uri: http://localhost:3000/api/v3/account_notifications.json?api_key=OarV2UVz6e_VKBhWG9AL&app_key=be475137b519a79c903492e2693dc9b9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1683647699'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
     [...]
- request:
    method: get
    uri: http://localhost:3000/api/v3/account_notifications.json?api_key=iJHyFkMUBSfjUovt29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1683647856'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c77e1945cff3e66f202d93b4c6744010"
   [...]
