---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/lead_statuses.json
    body:
      encoding: UTF-8
      string: '{"lead_status":{"name":"test lead status for deletion","hex_color":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433359'
      Etag:
      - W/"eb5a98a0b6840c1acf6ab823947e1bb5"
    body:
      encoding: UTF-8
      string: '{"id":3,"created_at":"2024/06/03 12:49:18 -0400","updated_at":"2024/06/03
        12:49:18 -0400","hex_color":"0","name":"test lead status for deletion"}'
  recorded_at: Mon, 03 Jun 2024 16:49:18 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/lead_statuses/3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433359'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 16:49:18 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/lead_statuses.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433359'
      Etag:
      - W/"30ca8dca6fcb0ff17a3cbd5360bc9ff0"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1,"created_at":"2024/05/01 16:24:25 -0400","updated_at":"2024/05/01
        16:24:25 -0400","hex_color":"fff","name":"status"}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":1}}'
  recorded_at: Mon, 03 Jun 2024 16:49:18 GMT
recorded_with: VCR 6.1.0
