---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/lead_sources.json
    body:
      encoding: UTF-8
      string: '{"lead_source":{"name":"test lead source"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433229'
      Etag:
      - W/"6d8f7e0414c216750d7ce916e81e6607"
    body:
      encoding: UTF-8
      string: '{"id":2,"name":"test lead source","cost_per_lead_in_cents":null,"flat_fee_in_cents":null,"created_at":"2024/06/03
        12:47:08 -0400","updated_at":"2024/06/03 12:47:08 -0400"}'
  recorded_at: Mon, 03 Jun 2024 16:47:09 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/lead_sources/2.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433230'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 16:47:09 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/lead_sources.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717433230'
      Etag:
      - W/"661d14d9ed63798ac90dd0b39510deeb"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1,"name":"source","cost_per_lead_in_cents":null,"flat_fee_in_cents":null,"created_at":"2024/05/01
        16:24:37 -0400","updated_at":"2024/05/01 16:24:37 -0400"}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":1}}'
  recorded_at: Mon, 03 Jun 2024 16:47:09 GMT
recorded_with: VCR 6.1.0
