---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/people.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717164901'
      Etag:
      - W/"941b5b9cfb1a4eba635f14a3d16f9ab3"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":8,"first_name":"First","last_name":"Last","position":null,"phone":null,"email":"asdf@asdf.com","home_address_1":null,"home_address_2":null,"home_city":null,"home_state":null,"home_postal_code":null,"home_country":null,"home_email":null,"home_phone":null,"work_address_1":null,"work_address_2":null,"work_city":null,"work_state":null,"work_postal_code":null,"work_country":null,"user_id":684638,"viewed_at":null,"created_at":"2024/05/23
        20:45:47 -0400","updated_at":"2024/05/29 18:00:15 -0400","mobile":null,"company_id":null,"fax":null,"website":null,"email2":null,"instant_message":null,"twitter":null,"linked_in_url":null,"facebook_url":null,"type":"Contact","next_entry_name":null,"next_entry_due":null,"next_entry_all_day":null,"next_entry_id":null,"summary":null,"unsubscribed":false,"bounced":false,"last_emailed_at":null,"relationship":null,"is_key_contact":null,"is_sample":false,"created_by_user_id":684638,"company_name":null,"full_name":"First
        Last","deal_ids":[],"image_thumb_url":"//localhost:3808/webpack/images/thumb/missing.png","image_mobile_url":"//localhost:3808/webpack/images/mobile/missing.png","work_address_google_maps_url":"http://maps.google.com/maps?q=%2C+%2C+%2C+++","home_address_google_maps_url":"http://maps.google.com/maps?q=%2C+%2C+%2C+++","company_address_google_maps_url":null,"has_work_address":false,"has_company_address":false,"shared_user_ids":[],"date_of_first_activity":null,"days_since_last_activity":null,"hours_to_first_activity":null,"deals":[],"user":{"id":684638,"first_name":"Jaclyn","last_name":"Senger"},"created_by_user":{"id":684638,"first_name":"Jaclyn","last_name":"Senger"},"lead_status":null,"lead_source":null,"predefined_contacts_tag_ids":[2],"predefined_contacts_tags":[{"id":2,"name":"asdf"}],"custom_fields":{"custom_label_1":null,"custom_label_2":null,"custom_label_3":null,"custom_label_4":null,"custom_label_5":null,"custom_label_6":null,"custom_label_7":[]},"total_pipeline":0,"won_deals_total":0},{"id":9,"first_name":"yes","last_name":"yes","position":null,"phone":null,"email":null,"home_address_1":null,"home_address_2":null,"home_city":null,"home_state":null,"home_postal_code":null,"home_country":null,"home_email":null,"home_phone":null,"work_address_1":null,"work_address_2":null,"work_city":null,"work_state":null,"work_postal_code":null,"work_country":null,"user_id":684638,"viewed_at":null,"created_at":"2024/05/23
        20:46:07 -0400","updated_at":"2024/05/23 20:46:07 -0400","mob[...]
