---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/admin/person_custom_field_labels.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717434201'
      Etag:
      - W/"2236363402b8ce528645ae8c29e9036e"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":1,"name":"string field","field_type":"text","report_behavior":null,"is_required":null,"position":1,"type":"PersonCustomFieldLabel","created_at":"2024/05/01
        16:20:50 -0400","updated_at":"2024/05/01 16:21:24 -0400","custom_field_group_id":null,"output_type":"text","locked":false,"custom_field_permissions":[{"id":1,"account_id":448688,"team_id":null,"custom_field_label_id":1,"read":true,"edit":true,"add":true,"created_at":"2024/05/01
        16:20:50 -0400","updated_at":"2024/05/01 16:20:50 -0400"}]},{"id":2,"name":"boolean
        field","field_type":"boolean","report_behavior":null,"is_required":null,"position":2,"type":"PersonCustomFieldLabel","created_at":"2024/05/01
        16:21:02 -0400","updated_at":"2024/05/01 16:21:02 -0400","custom_field_group_id":null,"output_type":"boolean","locked":false,"custom_field_permissions":[{"id":2,"account_id":448688,"team_id":null,"custom_field_label_id":[...]
