---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/account_notifications.json?api_key=OarV2UVz6e_VKBhWG9AL&app_key=be475137b519a79c903492e2693dc9b9&page=2&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '1683646239'
      Etag:
      - W/"8ace2b38ba296e9846afde0bcebee315"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":146,"account_id":null,"user_id":377,"text":"Testing
        Notification","read_at":null,"created_at":"2023/05/09 11:19:35 -0400","updated_at":"2023/05/09
        11:19:35 -0400","seen":true},{"id":147,"account_id":null,"user_id":377,"text":"test","read_at":null,"created_at":"2023/05/09
        11:20:21 -0400","updated_at":"2023/05/09 11:20:21 -0400","seen":true},{"id":148,"account_id":null,"user_id":377,"text":"test","read_at":null,"created_at":"2023/05/09
        11:20:24 -0400","updated_at":"2023/05/09 11:20:24 -0400","seen":true}],"pagination":{"page":2,"page_var":"page","per_page":3,"pages":3,"total":9}}'
  recorded_at: Tue, 09 May 2023 15:30:39 GMT
recorded_with: VCR 6.1.0
