---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/admin/predefined_contacts_tags.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717164092'
      Etag:
      - W/"c8e1b4ad57c1df0deeab3c91355196c7"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":2,"name":"asdf","created_at":"2024/05/01 16:24:14
        -0400","updated_at":"2024/05/01 16:24:14 -0400"},{"id":1,"name":"TEST TAG","created_at":"2024/05/01
        13:29:27 -0400","updated_at":"2024/05/01 13:29:27 -0400"}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":2}}'
  recorded_at: Fri, 31 May 2024 14:01:31 GMT
recorded_with: VCR 6.1.0
