---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/todo_templates.json
    body:
      encoding: UTF-8
      string: '{"todo_template":{"name":"test person tag for deletion"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717435226'
      Etag:
      - W/"39ca8377cd3bc9545314fd52d53aa48c"
    body:
      encoding: UTF-8
      string: '{"id":689194,"name":"test person tag for deletion","account_id":448688,"template_type":null,"is_default":null,"todo_template_types":[],"todo_template_items":[]}'
  recorded_at: Mon, 03 Jun 2024 17:20:25 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/todo_templates/689194.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717435226'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Jun 2024 17:20:25 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/todo_templates.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717435226'
      Etag:
      - W/"3019964ba575ae4976efdc1288a8833a"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":689192,"name":"template","account_id":448688,"template_type":"people","is_default":null,"todo_template_types":[{"id":1,"template_type":"people"}],"todo_template_items":[{"id":3300806,"event_category_id":2107082,"due_date":null,"description":"asd","todo_template_id":689192,"account_id":448688,"calendar_entry_priority_id":null,"event_category":{"id":2107082,"name":"todo"}}]}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":1}}'
  recorded_at: Mon, 03 Jun 2024 17:20:25 GMT
recorded_with: VCR 6.1.0
