---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/admin/todo_template_items.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiM2JkYTBlMjFhMTc4ZjI5OGI3OWIzMTA5NDViMzI1OCIsImp0aSI6IjVhZjg3MDAwLTAxODMtMDEzZC00M2ZmLTJjZGU0ODAwMTEyMiIsImV4cCI6MTc0ODY5OTcyMH0.wACkSpBq3A9aXxfIkXJ-Syovv8JrPgG5Pa6qlAZLrqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1717440579'
      Etag:
      - W/"0e61101f569c2997dfd14df64e9106ed"
    body:
      encoding: UTF-8
      string: '{"entries":[{"id":3300806,"event_category_id":2107082,"due_date":null,"description":"asd","todo_template_id":689192,"account_id":448688,"calendar_entry_priority_id":null}],"pagination":{"page":1,"page_var":"page","per_page":200,"pages":1,"total":1}}'
  recorded_at: Mon, 03 Jun 2024 18:49:38 GMT
recorded_with: VCR 6.1.0
