---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/webhooks.json
    body:
      encoding: UTF-8
      string: '{"webhook":{"event_model":"company","event_action":"destroy","failure_email":"test@test.com","url":"http://this.pld.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '5'
      X-Ratelimit-Reset:
      - '1684977408'
      Etag:
      - W/"1b687aea5ce10d1b2217c969db97cf7d"
    body:
      encoding: UTF-8
      string: '{"id":77,"event_model":"company","name":"Testing JWT company:destroy","is_activated":true,"created_at":"2023-05-25T01:16:47.923Z","updated_at":"2023-05-25T01:16:47.923Z","account_id":65,"account_key":"GVHA6Kon3pE18CEeSvgWn6xGYFwGOv1rqQ","last_run_at":null,"event_action":"destroy","description":"Testing
        JWT company:destroy =\u003e http://this.pld.com","updated_by":null,"debug_enabled":false,"app_id":32,"event_elapsed_time_subject":null,"event_elapsed_time_value":null,"event_elapsed_time_unit":null,"event_column":null,"event_column_delta":null,"event_trigger_time":null,"automation_folder_id":null,"source":"user"}'
  recorded_at: Thu, 25 May 2023 01:16:47 GMT
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/webhooks/77.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1684977408'
      Etag:
      - W/"74234e98afe7498fb5daf1f36ac2d78a"
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Thu, 25 May 2023 01:16:48 GMT
- request:
    method: get
    uri: http://pld.com/api/v3/admin/webhooks.json?page=1&per_page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '1684977409'
      Etag:
      - W/"d03ff1e2df7ad33907b2086ec5f9e0a9"
    body:
      encoding: UTF-8
      string: '{"webhooks":[]}'
  recorded_at: Thu, 25 May 2023 01:16:48 GMT
recorded_with: VCR 6.1.0
