---
http_interactions:
- request:
    method: post
    uri: http://pld.com/api/v3/admin/webhooks.json
    body:
      encoding: UTF-8
      string: '{"webhook":{"event_model":"person","event_action":"create","failure_email":"test@test.com","url":"http://this.pld.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1684973945'
      Etag:
      - W/"380154e3dd3f349e87ea7244d859d875"
    body:
      encoding: UTF-8
      string: '{"id":66,"event_model":"person","name":"Testing JWT person:create","is_activated":true,"created_at":"2023-05-25T00:19:04.644Z","updated_at":"2023-05-25T00:19:04.644Z","account_id":65,"account_key":"GVHA6Kon3pE18CEeSvgWn6xGYFwGOv1rqQ","last_run_at":null,"event_action":"create","description":"Testing
        JWT person:create =\u003e http://this.pld.com","updated_by":null,"debug_enabled":false,"app_id":32,"event_elapsed_time_subject":null,"event_elapsed_time_value":null,"event_elapsed_time_unit":null,"event_column":null,"event_column_delta":null,"event_trigger_time":null,"automation_folder_id":null,"source":"user"}'
  recorded_at: Thu, 25 May 2023 00:19:04 GMT
[...]
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/webhooks/66.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1684973965'
      Etag:
      - W/"74234e98afe7498fb5daf1f36ac2d78a"
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Thu, 25 May 2023 00:19:24 GMT
[...]
- request:
    method: delete
    uri: http://pld.com/api/v3/admin/webhooks/74.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Reset:
      - '1684973966'
      Etag:
      - W/"74234e98afe7498fb5daf1f36ac2d78a"
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Thu, 25 May 2023 00:19:25 GMT
recorded_with: VCR 6.1.0
