---
http_interactions:
- request:
    method: get
    uri: http://pld.com/api/v3/admin/webhooks.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTBhMTRiZTQwZmY1ZGVhZmI3ZGU3ZTc3M2I4YmZmMCIsImp0aSI6ImJmZmNlNzkwLWRjYWYtMDEzYi0wZmIxLTJjZGU0ODAwMTEyMiJ9.Yz_l8laGdXwhBQcb7ymODeh4ajH_K7p3FJIfcmLcpKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '1684973946'
      Etag:
      - W/"b4ad3866fade441c945ed9afea2739b9"
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"id":66,"event_model":"person","name":"Testing JWT person:create","is_activated":true,"created_at":"2023-05-25T00:19:04.644Z","updated_at":"2023-05-25T00:19:04.644Z","account_id":65,"account_key":"GVHA6Kon3pE18CEeSvgWn6xGYFwGOv1rqQ","last_run_at":null,"event_action":"create","description":"Testing
        JWT person:create =\u003e http://this.pld.com","updated_by":null,"debug_enabled":false,"app_id":32,"event_elapsed_time_subject":null,"event_elapsed_time_value":null,"event_elapsed_time_unit":null,"event_column":null,"event_column_delta":null,"event_trigger_time":null,"automation_folder_id":null,"source":"user"},{"id":67,"event_model":"person","name":"Testing
        JWT person:update","is_activated":true,"created_at":"2023-05-25T00:19:04.776Z","updated_at":"2023-05-25T00:19:04.776Z","account_id":65,"account_key":"GVHA6Kon3pE18CEeSvgWn6xGYFwGOv1rqQ","last_run_at":null,"event_action":"update","description":"Testing
        JWT person:update =\u003e http://this.pld.com","updated_by":null,"debug_enabled":false,"app_id":32,"event_elapsed_time_subject":null,"event_elapsed_time_value":null,"event_elap[...]
